<%@ Master Language="C#" AutoEventWireup="true" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<asp:contentplaceholder id="MainContent" runat="server">
</asp:contentplaceholder>
</body>
</html>